{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}all tags - sic{% endblock %}
{% block content %}
    <nav>
        <ul>
            <li><a href="{% url 'public_aggregations' %}">Browse public tag aggregations</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url_with_next 'add_tag' request %}">Add tag</a></li>
            {% endif %}
            <li><form method="get" class="order-by-form">
                {% for f in order_by_form %}
                    {{ f.label_tag }}
                    {{ f }}
                {% endfor %}
                <input type="submit" value="sort">
            </form></li>
        </ul>
    </nav>
    {% spaceless %}
        <ul class="tags" style="width: 80ch; max-width: var(--main-width);">
            {% for tag in tags %}
                <li style="{{ tag.color_vars_css }}"><div class="tag"><span class="tag-name"><a href="{{ tag.get_absolute_url }}">{{ tag.name }} {{ tag.stories_count }}</a></span></div></li>
            {% endfor %}
        </ul>
    {% endspaceless %}
    <nav class="pagination" aria-label="pagination">
        <ul class="pagination">
            {% if tags.has_previous %}
                <li><a href="{% url 'browse_tags_page' page_num=tags.previous_page_number %}"><span aria-hidden="true">«</span><span class="visuallyhidden">previous page</span></a></li>
            {% endif %}
            {% for page in pages %}
                {% if page == tags.number %}
                    <li><a href="" aria-current="page"><span class="visuallyhidden">page </span>{{ tags.number }}</a></li>
                {% elif page == None %}
                    <li><span aria-hidden="true">&hellip;</span></li>
                {% else %}
                    <li><a href="{% url 'browse_tags_page' page_num=page %}"><span class="visuallyhidden">page </span>{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if tags.has_next %}
                <li><a href="{% url 'browse_tags_page' page_num=tags.next_page_number %}"><span class="visuallyhidden">next page</span><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
