{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}all tags - sic{% endblock %}
{% block content %}
    <nav>
        <ul>
            <li><a href="{% url 'public_aggregations' %}">Browse public tag aggregations</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url_with_next 'add_tag' request %}">Add tag</a></li>
            {% endif %}
            <li><form method="get" class="order-by-form">
                {% for f in order_by_form %}
                    {{ f.label_tag }}
                    {{ f }}
                {% endfor %}
                <input type="submit" value="sort">
            </form></li>
        </ul>
    </nav>
    {% spaceless %}
        <ul class="tags" style="width: 80ch; max-width: var(--main-width);">
            {% for tag in tags %}
                <li style="{{ tag.color_vars_css }}"><div class="tag"><span class="tag-name"><a href="{{ tag.get_absolute_url }}">{{ tag.name }} {{ tag.stories.count }}</a></span></div></li>
            {% endfor %}
        </ul>
    {% endspaceless %}
    <div class="pagination">
        <span class="step-links">
            {% if tags.has_previous %}
                <a href="{% url 'browse_tags' %}">&laquo; first</a>
                <a href="{% url 'browse_tags_page' page_num=tags.previous_page_number %}">&lt; previous</a>
            {% endif %}

            <span class="current">
                Page {{ tags.number }}
            </span>

            {% if tags.has_next %}
                <a href="{% url 'browse_tags_page' page_num=tags.next_page_number %}">next &gt;</a>
            {% else %}
                (of {{tags.number}})
            {% endif %}
        </span>
    </div>
{% endblock %}
