{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}{% if tag %}edit {{ tag.name }}{% else %}new tag{% endif %} - sic{% endblock %}
{% block content %}
    {% if tag %}
        <h1>edit {{ tag.name }}</h1>
    {% else %}
        <h1>new tag</h1>
    {% endif %}
    <form method="post" class="submit-story-form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
        {% if show_colors %}
            <p>color suggestions:</p>
            <ul class="color-list">
                {% for color in colors %}
                    <li><span class="color-box" style="--color: {{ color }}"></span>{{ color }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
{% endblock %}
