{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}{% if agg %}edit {{ agg.name }}{% else %}new aggregation{% endif %} - {{ config.verbose_name }}{% endblock %}
{% block content %}
    <h1>{% if agg %}edit {{ agg.name }}{% else %}new aggregation{% endif %}</h1>
    <nav>
        <ul>
            <li><a href="{% if next %}{{ next }}{% elif agg %}{{ agg.get_absolute_url }}{% else %}{% url 'account' %}{% endif %}">go back</a></li>
        </ul>
    </nav>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        <input type="submit" value="Save">
    </form>
{% endblock %}
