{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load utils %}
{% block title %}{% if tag %}edit {{ tag.name }}{% else %}new tag{% endif %} - sic{% endblock %}
{% block script %}
    <script>
        var error = null;
        import("{% static 'tag_input_wasm.js' %}")
            .then((module) => {
            async function run() {
                let w = await module.default("{% static 'tag_input_wasm_bg.wasm' %}");
                module.setup("parent", "id_parents", "parents_json", false);
            }
            return run();
        }).catch(err => {
            console.warn("Could not load tag input .wasm file.\n\nThe error is saved in the global variable `error` for more details. The page and submission form will still work.\n\nYou can use `console.dir(error)` to see what happened.");
            error = err;
        });
    </script>
{% endblock %}
{% block style %}
    <style>
        .tag-wasm {
            border: 1px solid ThreeDLightShadow;
            padding: 5px;
            display: inline;
            cursor: text;
        }
        input.tag-wasm-input {
            border: none;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .tag-wasm, .tag-wasm-tag-list {
            display: inline;
        }
        .tag-wasm-tag-list > * {
            margin-bottom: 2px;
        }
        .tag-wasm-tag-cloud {
            user-select: none;
            max-height: 15rem;
            overflow: auto;
            padding: .8rem .6rem;
        }
        .tag-wasm-tag-cloud > * {
            cursor: pointer;
            user-select: none;
            filter: opacity(60%);
        }
        span.tag-remove {
            cursor: pointer;
            user-select: none;
            padding:.2rem;
            margin:-.2rem;
            position: absolute;
            transform: translateY(.05rem);
        }
        span.tag-remove + span.tag-name {
            margin-left:.8rem;
        }
        p.help-text.after {
            margin-bottom: 0;
        }
        input.tag-wasm-input:focus {
            outline: none;
        }
        .tag-wasm:focus-within {
            outline: 1px solid Highlight;
        }
        @media (hover: none) and (pointer: coarse) {
            .tag-wasm-help-text, .tag-wasm-msg, .tag-wasm-tag-cloud, .tag-wasm {
                display: none;
            }
        }
    </style>
    {{parents|json_script:"parents_json" }}
{% endblock %}
{% block content %}
    {% if tag %}
        <h1>edit &ldquo;{{ tag.name }}&rdquo;</h1>
    {% else %}
        <h1>new tag</h1>
    {% endif %}
    <form method="post" class="submit-story-form">
        {% csrf_token %}
        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }}
            {% if field.help_text %}
                <p class="help-text">{{ field.help_text }}</p>
            {% endif %}
            {{ field }}
        {% endfor %}
        <div class="button-flex-box">
            <input class="heavy-positive-action" type="submit" value="{% if tag %}Save{% else %}Submit{% endif %}">
        </div>
        {% if show_colors %}
            <p>color suggestions:</p>
            <ul class="color-list">
                {% for color in colors %}
                    <li><span class="color-box" style="--color: {{ color }}"></span>{{ color }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
{% endblock %}
