{% extends "base.html" %}
{% load utils %}
{% block title %}{{ user }} account - sic{% endblock %}
{% block style %}
    <style>
        nav.feeds {
            margin-top: 1rem;
        }

        table.no-border,
        table.no-border td {
            border: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div style="grid-row: 1/ span 1;">
        <nav>
            <ul>
                <li><a href="{% url 'edit_settings' %}">edit settings</a></li>
                <li><a href="{% url 'edit_profile' %}">edit profile</a></li>
                <li><a href="{{ user.get_absolute_url }}">view profile</a></li>
                <li><a href="{% url 'bookmarks' %}">bookmarks</a></li>
                <li><a href="{% url 'notifications' %}">notification history</a></li>
                <li><a href="{% url 'password_change' %}">change password</a></li>
            </ul>
        </nav>
    </div>
    <h2>profile</h2>
    <div class="profile">
        <div id="avatar">
            <figure id="avatar-thumbnail" style="width: max-content; background-image: url({{user.avatar|default_if_none:''}});">
                {% if user.avatar %}<img src="{{ user.avatar }}" title="{{ user.avatar_title|default_if_none:''}}">{% else %}<div>None.</div>{% endif %}
                <figcaption>{{ user.avatar_title|default_if_none:"<em>No title.</em>" }} <a href="{% url 'edit_avatar' %}">edit avatar</a></figcaption>
            </figure>
        </div>
        <table>
            <tbody>
                <tr>
                    <th>username:</th>
                    <td class="{% if user.is_banned %}banned-user}{% elif user.is_new_user %}new-user{% endif %}">{{ user.username }}</td>
                </tr>
                {% for label, metadata in user.metadata_fields %}
                    <tr>
                        <th>{{ label }}:</th>
                        <td>{{ metadata|urlize }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>about:</th>
                    <td>{{ user.about }}</td>
                </tr>
                <tr>
                    <th>status:</th>
                    <td>{% if not user.is_active %}in{% endif %}active</td>
                </tr>
                <tr>
                    <th>joined:</th>
                    <td>{{ user.created }}</td>
                </tr>
                <tr>
                    <th>karma:</th>
                    <td>{{ user.karma }}</td>
                </tr>
                <tr>
                    <th>stories:</th>
                    <td>{{ user.stories.count }}</td>
                </tr>
                <tr>
                    <th>comments:</th>
                    <td>{{ user.comments.count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="settings">
        <h2>settings</h2>
        {% spaceless %}
            <table class="no-border">
                <tbody>
                    <tr>
                        <th>email notifications</th>
                        <td>{{ user.email_notifications }}</td>
                    </tr>
                    <tr>
                        <th>email replies</th>
                        <td>{{ user.email_replies }}</td>
                    </tr>
                    <tr>
                        <th>email messages</th>
                        <td>{{ user.email_messages }}</td>
                    </tr>
                    <tr>
                        <th>email mentions</th>
                        <td>{{ user.email_mentions }}</td>
                    </tr>
                    <tr>
                        <th>show avatars</th>
                        <td>{{ user.show_avatars }}</td>
                    </tr>
                </tbody>
            </table>
        {% endspaceless %}
    </div>
    <div class="invites">
        <div class="invite_tree">
            <h2>Invitation tree</h2>
            <ul class="tree">
                {% include "invitation_tree.html" with user=user depth=0 max_depth=3 %}
            </ul>
            {% for inv in user.invited.all %}
                <p title="{{ inv.id }}">{{ inv.created }} - {{ inv.address }} - {% if inv.accepted %}<span class="accepted">accepted by <a href="{{ inv.receiver.get_absolute_url }}" class="{% if inv.receiver.is_banned %}banned-user{% elif inv.receiver.is_new_user %} new-user{% endif %}">{{ inv.receiver }}</a></span>{% else %}no answer yet <a href="{% url_with_next 'resend_invite' invite_pk=inv.pk request %}">resend email</a>, or <a href="{{ inv.get_absolute_url }}">share link</a>{% endif %}</p>
            {% empty %}
                You haven't invited anyone yet.
            {% endfor %}
        </div>
        <div class="generate_an_invite" id="generate-invite">
            <h2>Invite a new user</h2>
            <form class="submit-comment-form" method="POST" action="{% url_with_next 'generate_invite' request %}">
                {% csrf_token %}
                <table class="no-border">
                    {{ generate_invite_form }}
                </table>
                <input type="submit" value="generate">
            </form>
        </div>
    </div>
    <div class="hats">
        <h2>Hats</h2>
        {% if can_add_hats %}
            <nav>
                <ul>
                    <li><a href="{% url 'new_hat' %}">add hat</a></li>
                </ul>
            </nav>
            <ul>
                {% for hat in user.hats.all %}
                    <li class="hat" style="--hat-color: {{ hat.hex_color }}"><span class="hat" title="{{ hat.hex_color }}">{{ hat.name }}</span> <a href="{% url 'edit_hat' hat.pk %}">edit</a></li>
                {% empty %}
                    <li>You have no hats.</li>
                {% endfor %}
            </ul>
        {% else %}
            {% if user.is_new_user %}
                <p>New accounts can't create hats.</p>
            {% else %}
                <p>Your karma is too low, so you cannot create or use hats.</p>
            {% endif %}
        {% endif %}
    </div>
    <div class="taggregations" id="taggregations">
        <h2>Aggregations</h2>
        <nav>
            <ul>
                <li><a href="{% url 'new_aggregation' %}">create</a></li>
            </ul>
        </nav>
        {% if user.created_taggregations.exists %}
            <h3>Created:</h3>
            <ul>
                {% for c in user.created_taggregations.all %}
                    <li><a href="{{c.get_absolute_url }}">{{ c.name }}</a></li>
                {% empty %}
                    <li>You have created no Aggregations.</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if user.moderated_taggregations.exists %}
            <h3>Moderated:</h3>
            <ul>
                {% for c in user.moderated_taggregations.all %}
                    <li><a href="{{c.get_absolute_url }}">{{ c.name }}</a></li>
                {% empty %}
                    <li>You moderate no Aggregations.</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h3>Subscribed:</h3>
        <ul>
            {% for c in user.taggregation_subscriptions.all %}
                <li><a href="{{c.get_absolute_url }}">{{ c.name }}</a></li>
            {% empty %}
                <li>You have no Aggregation subscriptions. Browse public Aggregations or create your own.</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2 id="feeds">Personalised feeds</h2>
        <form method="GET" action="{% url_with_next 'issue_token' request %}">
            <input type="submit" value="{% if user.auth_token%}re{% endif %}issue token">
        </form>
        {% if not user.auth_token %}
            <p>You have no auth tokens, generate one!</p>
        {% else %}
            <nav class="feeds">
                <ul>
                    <li>
                        RSS
                        <a href="{% if user.username %}{% url 'user_feeds_rss' user.username %}{% else %}{% url 'user_feeds_rss' user.pk %}{% endif %}?token={{ user.auth_token|urlencode }}" title="Latest Stories RSS" class="feed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss-fill" viewBox="0 0 16 16"> <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/> </svg></a>
                    </li>
                    <li>
                        Atom
                        <a href="{% if user.username %}{% url 'user_feeds_atom' user.username %}{% else %}{% url 'user_feeds_atom' user.pk %}{% endif %}?token={{ user.auth_token|urlencode }}" title="Latest Stories Atom" class="feed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss" viewBox="0 0 16 16"><path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/><path d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-3-8.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1zm0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1z"/></svg></a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}
