{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}bookmarks - sic{% endblock %}
{% block content %}
    <nav>
        <ul>
            <li><a href="{% url 'bookmarks_json' %}">Export to <code>json</code></a></li>
        </ul>
    </nav>
    <ul class="posts">
        {% for b in bookmarks %}
            {% if b.is_story %}
                {% include "posts/story_list_item.html" with story=b.story %}
            {% else %}
                {% include "posts/comment.html" with comment=b.comment reply_form=reply_form replies=False level=0 %}
            {% endif %}
            <li class="bookmark-annotation">
                <table>
                    <tr>
                        <th>Added:</th>
                        <td>{{ b.created }}</td>
                    </tr>
                    <tr>
                        <th>Annotation:</th>
                        <td>{% if b.annotation %}
                            {{ b.annotation }}
                        {% else %}
                            None.
                        {% endif %}</td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <a href="{% url 'edit_bookmark' b.pk %}">edit bookmark</a>
                        </th>
                    </tr>
                </table>
            </li>
        {% endfor %}
    </ul>
    <nav class="pagination" aria-label="pagination">
        <ul class="pagination">
            {% if bookmarks.has_previous %}
                <li><a href="{% url 'bookmarks_page' page_num=bookmarks.previous_page_number %}"><span aria-hidden="true">«</span><span class="visuallyhidden">previous page</span></a></li>
            {% endif %}
            {% for page in pages %}
                {% if page == bookmarks.number %}
                    <li><a href="" aria-current="page"><span class="visuallyhidden">page </span>{{ bookmarks.number }}</a></li>
                {% elif page == None %}
                    <li><span aria-hidden="true">&hellip;</span></li>
                {% else %}
                    <li><a href="{% url 'bookmarks_page' page_num=page %}"><span class="visuallyhidden">page </span>{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if bookmarks.has_next %}
                <li><a href="{% url 'bookmarks_page' page_num=bookmarks.next_page_number %}"><span class="visuallyhidden">next page</span><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
