{% extends "base.html" %}
{% block title %}{% if hat %}Edit hat{% else %}Create hat {% endif %} - {{ config.verbose_name }}{% endblock %}
{% block content %}
    {% if hat %}
        <h1>edit hat</h1>
    {% else %}
        <h1>create hat</h1>
    {% endif %}
    {% if hat %}
        <div>
            <span>Current hat:
                <span class="hat" style="--hat-color: {{ hat.hex_color }}">{{ hat.name }}</span>
            </span>
        </div>
    {% endif %}
    <form method="POST" class="submit-story-form">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
