{% extends "base.html" %}
{% block title %}Edit bookmark - sic{% endblock %}
{% block style %}
    <style>
    </style>
{% endblock %}
{% block content %}
    <h1>Edit bookmark</h1>
    <form method="POST" class="submit-story-form">
        {% csrf_token %}
        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }}
            {% if field.help_text %}
                <p class="help-text">{{ field.help_text }}</p>
            {% endif %}
            {{ field }}
        {% endfor %}
        <div class="button-flex-box">
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}
