{% extends "base.html" %}
{% block title %}Edit avatar{% endblock %}
{% block content %}
    <h1>edit avatar</h1>
    <p>Current avatar:</p>
    <figure style="width: max-content;">
        {% if user.avatar %}<img src="{{ user.avatar }}">{% else %}<div>None.</div>{% endif %}
        <figcaption>{{ user.avatar_title|default_if_none:"<em>No title.</em>" }}</figcaption>
    </figure>
    <form enctype="multipart/form-data" class="submit-story-form" method="POST">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <div class="button-flex-box">
            <input type="submit" value="Submit">
            <input type="submit" name="delete-image" value="Delete image">
        </div>
    </form>
{% endblock %}
