{% extends "base.html" %}
{% load utils %}
{% block title %}Edit settings - {{ config.verbose_name }}{% endblock %}
{% block style %}
    <style>
        div.week {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: repeat(7, max-content);
            column-gap: 1.5rem;
            justify-content: center;
            padding: .5rem 2rem;
        }
        div.week label {
            margin: 0rem 0 1rem 0;
            writing-mode: sideways-lr;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>edit account settings</h1>
    <form method="POST" class="submit-story-form">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {% if field.field.widget.input_type == 'checkbox' %}
                <div class="checkbox-flex-box">
                    {{ field }}
                    {{ field.label_tag }}
                </div>
                {% if field.help_text %}
                    <p class="help-text">{{ field.help_text }}</p>
                {% endif %}
            {% else %}
                {{ field.errors }}
                {{ field.label_tag }}
                {% if field.help_text %}
                    <p class="help-text">{{ field.help_text }}</p>
                {% endif %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <div class="button-flex-box">
            <input type="submit" value="Submit">
        </div>
    </form>
    <h2>edit weekly digest settings</h2>
    <p class="help-text">On every selected day, you will receive a list of every {% model_verbose_name 'story' False %} created since the last time you received a digest.</p>
    <form method="POST" class="submit-story-form">
        {% csrf_token %}
        <div class="checkbox-flex-box">
            {{ digest_form.active }}
            {{ digest_form.active.label_tag }}
        </div>
        {% if digest_form.active.helptext %}<br><span class="helptext">{{ digest_form.active.help_text }}</span>{% endif %}
        <div class="checkbox-flex-box">
            {{ digest_form.all_stories }}
            {{ digest_form.all_stories.label_tag }}
        </div>
        {% if digest_form.all_stories.help_text %}<br><span class="helptext">{{ digest_form.all_stories.help_text }}</span>{% endif %}
        {{ digest_form.last_run.label_tag }}
        {{ digest_form.last_run }}{% if digest_form.last_run.help_text %}<br><span class="helptext">{{ digest_form.last_run.help_text }}</span>{% endif %}
        <fieldset>
            <legend>schedule</legend>
            <div class="week">
                <label for="id_on_monday">Mon</label>
                <label for="id_on_tuesday">Tue</label>
                <label for="id_on_wednesday">Wed</label>
                <label for="id_on_thursday">Thu</label>
                <label for="id_on_friday">Fri</label>
                <label for="id_on_saturday">Sat</label>
                <label for="id_on_sunday">Sun</label>
                {{ digest_form.on_monday }}
                {{ digest_form.on_tuesday }}
                {{ digest_form.on_wednesday }}
                {{ digest_form.on_thursday }}
                {{ digest_form.on_friday }}
                {{ digest_form.on_saturday }}
                {{ digest_form.on_sunday }}
            </div>
        </fieldset>
        <div class="button-flex-box">
            <input type="submit" name="digest-form" value="Submit">
        </div>
    </form>
    <h2>edit session settings</h2>
    <p class="help-text">These settings are stored in your browser.</p>
    <form method="POST" class="submit-story-form">
        {% csrf_token %}
        {% for field in session_form %}
            {% if field.field.widget.input_type == 'checkbox' %}
                <div class="checkbox-flex-box">
                    {{ field }}
                    {{ field.label_tag }}
                </div>
                {% if field.help_text %}
                    <p class="help-text">{{ field.help_text }}</p>
                {% endif %}
            {% else %}
                {{ field.errors }}
                {{ field.label_tag }}
                {% if field.help_text %}
                    <p class="help-text">{{ field.help_text }}</p>
                {% endif %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <div class="button-flex-box">
            <input type="submit" name="session-settings" value="Submit">
        </div>
    </form>
{% endblock %}
