{% extends "base.html" %}
{% block title %}{% if is_sent %}sent messages{% else %}message inbox{% endif %} - sic{% endblock %}
{% block style %}
    <style>
        .active-notification td {
            background: Highlight;
            color: HighlightText;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Inbox</h1>
    <nav class="menu">
        <ul>
            <li><a href="{% url 'inbox_compose' %}">Compose</a></li>
            <li><a href="{% url 'inbox' %}">Inbox</a></li>
            <li><a href="{% url 'inbox_sent' %}">Sent</a></li>
        </ul>
    </nav>
    <table>
        <thead>
            <tr>
                <th>author</th>
                <th>recipient</th>
                <th>subject</th>
                <th>created</th>
            </tr>
        </thead>
        <tbody>
            {% for msg in messages_ %}
                <tr{% if not msg.read_by_recipient %} class="active-notification"{% endif %}>
                    <td>{{ msg.author }}</td>
                    <td>{{ msg.recipient }}</td>
                    <td><a href="{{ msg.get_absolute_url }}">{{ msg.subject }}</a></td>
                    <td><time datetime="{{ msg.created | date:"Y-m-d H:i:s" }}+0000" title="{{ msg.created }} UTC+00:00">{{ msg.created }} UTC+00:00</time></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
