{% extends "base.html" %}
{% load humanize %}
{% block title %}Message from {{ msg.author }}: {{msg.subject}} - {{ config.verbose_name }}{% endblock %}
{% block style %}
    <style>
        h1.message-subject {
            font-size: 1.8em;
        }
        aside.envelope-details {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: medium;
        }
        blockquote.message_body {
            outline: 2px solid;
            width: 62ch;
            padding: 1.2rem 1rem;
            margin: 0;
            max-width: var(--main-width);
        }
        blockquote.message_body>p:first-child{
            margin-top: 0;
        }

        blockquote.message_body>p:last-child{
            margin-bottom: 0;
        }
        hr {
            border: none;
            border-top: 1px dashed #333;
            color: #333;
            overflow: visible;
            text-align: center;
            height: 5px;
            max-width: 62ch;
            margin-left: 0;
        }

        hr:after {
            background: #fff;
            content: '(Sic.)';
            padding: 0 4px;
            position: relative;
            top: -13px;
            font-style: oblique;
            font-size: small;
        }

        {% if show_colors %}
            .quote-level-0 {
                color: #005e8c;
                background: #e8f5fc;
            }
            .quoted-level-0 {
                color: #2b9dd6;
                background: #e8f5fc;
            }
            .quote-level-1 {
                color: #b50600;
                background: #fff0ed;
            }
            .quoted-level-1 {
                background: #fff0ed;
                color: #e32b24;
            }
            .quote-level-2 {
                color: #006647;
                background: #e6faf3;
            }
            .quoted-level-2 {
                color: #14855f;
                background: #e6faf3;
            }
            .quote-level-3 {
                color: #cc860c;
                background: #fff4e0;
            }
            .quoted-level-3 {
                background: #fff4e0;
                color: #cc860c;
            }
        {% endif %}

    </style>
{% endblock %}
{% block content %}
    <nav class="menu">
        <ul>
            <li><a href="{% url 'inbox_compose' %}">Compose</a></li>
            <li><a href="{% url 'inbox' %}">Inbox</a></li>
            <li><a href="{% url 'inbox_sent' %}">Sent</a></li>
        </ul>
    </nav>
    <hr />
    <h1 class="message-subject">{{msg.subject}}</h1>
    <aside class="envelope-details">
        <span><b>From</b> <a href="{{ msg.author.get_absolute_url }}">{{ msg.author }}</a></span>
        <span><b>Sent to</b> <a href="{{ msg.recipient.get_absolute_url }}">{{ msg.recipient }}</a> <time datetime="{{ msg.created | date:"Y-m-d H:i:s" }}+0000" title="{{ msg.created }} UTC+00:00">{{ msg.created|naturaltime }}</time></span>
        <span><b>Read by recipient</b>: {{ msg.read_by_recipient|yesno }}</span>
    </aside>
    <blockquote class="message_body">
        {% if formatted_message %}<span class="quote-level-0">{{ formatted_message.first_line }}</span><br/>
            {{ formatted_message.quoted_text|linebreaksbr }}<br/>
            {{ formatted_message.reply|linebreaksbr }}
        {% else %}{{ msg.body|linebreaks }}{% endif %}
    </blockquote>
    <nav class="menu">
        <ul>
            <li><a href="{% url 'inbox_reply' in_reply_to=msg.pk %}">reply</a></li>
            <li><a href="{% url 'inbox_message_raw' message_pk=msg.pk %}">view raw</a></li>
        </ul>
    </nav>
{% endblock %}
