{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}active invitation requests - {{ config.verbose_name }}{% endblock %}
{% block style %}
    <style>
        .invitation-requests {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
        .invitation-request {
            display: flex;
            flex-direction: column;
            border: 1px solid #333;
            padding: 1rem;
            gap: 1rem;
        }
        .invitation-request>table {
            width: 100%;
            border: 0;
        }
        .invitation-request>table td {
            border: 0;
        }

        .invitation-request>form {
            display: flex;
            flex-direction: column;
        }

        span.success {
            background-color: var(--message-success-bg);
        }
        span.error {
            background-color: var(--message-error-bg);
        }
        span.warning {
            background-color: var(--message-warning-bg);
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Invitation/vouching requests</h1>
    <h2>Account settings</h2>
    <form method="POST" class="submit-story-form">
        {% csrf_token %}
        {% for field in notify_form %}
            {{ field.errors }}
            {{ field.label_tag }}
            {% if field.help_text %}
                <p class="help-text">{{ field.help_text }}</p>
            {% endif %}
            {{ field }}
        {% endfor %}
        <div class="button-flex-box">
            <input type="submit" name="set-notify" value="Submit">
        </div>
    </form>
    <h2>Requests</h2>
    <ul class="invitation-requests">
        {% for req in requests %}
            <li class="invitation-request">
                <form method="POST" action="{% url_with_next 'generate_invite' request %}">
                    {% csrf_token %}
                    <input type="hidden" name="req-pk" value="{{ req.pk }}">
                    <input type="hidden" name="email" value="{{ req.address }}">
                    <span><label for="certain-{{req.pk}}">I'm certain about this</label><input type="checkbox" id="certain-{{req.pk}}" required></span>
                    <input type="submit" name="send-invite" value="{% if req.requested_by_id %}Vouch user{% else %}Send invite{% endif %}">
                </form>
                <table>
                    <tr>
                        <th>Name</th>
                        <td>{% if req.requested_by_id %}<a href="{{ req.requested_by.get_absolute_url }}">{{ req.requested_by }}</a>{% else %}{{ req.name }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ req.address }}</td>
                    </tr>
                    <tr>
                        <th>About</th>
                        <td><p>{{ req.about|escape }}</p></td>
                    </tr>
                </table>
                {% for vote in req.votes.all %}
                    {% spaceless %}
                        {% if vote.in_favor is not None %}
                            <span class="{% if vote.in_favor %}success{% else %}error{%endif%}">{{ vote.user }} is {% if not vote.in_favor %}not {% endif %} in favour and notes: <q>{{ vote.note }}</q></span>
                        {% else %}
                            <span class="warning">{{ vote.user }} notes: <q>{{ vote.note }}</q></span>
                        {% endif %}
                    {% endspaceless %}
                {% endfor %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="vote-pk" value="{{ req.pk }}">
                    {% if req.have_voted %}
                        <input type="submit" name="delete-vote" value="Delete my vote">
                    {% else %}
                        <span>
                            <label for="choice-{{req.pk}}">Your vote:</label>
                            <input type="radio" name="choice-{{req.pk}}" value="yes" />Yes
                            <input type="radio" name="choice-{{req.pk}}" value="no" />No
                            <input type="radio" name="choice-{{req.pk}}" value="none" />None
                        </span>
                        <label for="note-{{req.pk}}">Notes:</label>
                        <textarea name="note-{{req.pk}}" cols="15" rows="2"></textarea>
                        <input type="submit" name="submit" value="Submit">
                    {% endif %}
                </form>
            </li>
        {% empty %}
            <li>None.</li>
        {% endfor %}
    </ul>
{% endblock %}
