{% extends "base.html" %}
{% block title %}Login - {{ config.verbose_name }} {% endblock %}
{% block content %}
    <h2 style="place-self:center;">Login</h2>

    {% if form.errors %}
        <p style="place-self:center;">Your username and password didn't match. Please try again.</p>
        <p style="place-self:center;">Try logging in with your e-mail address instead of userame.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p style="place-self:center;">You are already logged in as <a href="{{ user.get_absolute_url }}">{{ user }}</a> Continue to the <a href="{% url 'index' %}">index</a>.</p>
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
    {% else %}
        <form method="post" action="{% url 'login' %}" class="login-form">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }}
            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p style="place-self:center;"><a href="{% url 'password_reset' %}">Lost password?</a></p>
    {% endif %}
{% endblock %}
