{% extends "base.html" %}
{% load humanize %}
{% block title %}Login - {{ config.verbose_name }} {% endblock %}
{% block style %}
    <style>
        .command-line-example {
            place-self:center;
            user-select: all;
            display: inline-block;
            ruby-align: center;
            ruby-position: under;
            padding: 0;
        }

    </style>
{% endblock %}
{% block content %}
    <h2 style="place-self:center;">Login</h2>

    {% if form.errors %}
        <p style="place-self:center;">Your username and password didn't match. Please try again.</p>
        <p style="place-self:center;">Try logging in with your e-mail address instead of userame.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p style="place-self:center;">You are already logged in as <a href="{{ user.get_absolute_url }}">{{ user }}</a> Continue to the <a href="{% url 'index' %}">index</a>.</p>
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
    {% else %}
        {% if ssh_challenge %}
            <p style="place-self:center;">Sign <mark><code>{{ ssh_challenge }}</code></mark> with your previously configured key within <time title="{{ timeout_left }}" datetime="{{ timeout_left }}">{{ timeout_left|naturaltime }}</time>. Example:</p>
            <pre class="command-line-example">printf '<ruby><mark>{{ ssh_challenge }}</mark><rp>(</rp><rt>signin challenge</rt><rp>)</rp></ruby>' | ssh-keygen -Y sign -f <ruby>~/.ssh/id_rsa <rp>(</rp><rt>your account's key</rt><rp>)</rp></ruby> -n <ruby>{{ config.verbose_name }}<rp>(</rp><rt>protocol</rt><rp>)</rp></ruby></pre>
        {% endif %}
        <form method="post" action="{% if ssh_challenge %}{% url 'sshlogin' %}{%else %}{% url 'login' %}{% endif %}" class="login-form">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }}
            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
            {% if ssh_challenge %}<input formaction="{% url 'sshlogin' %}" formnovalidate="true" type="submit" name="refresh" value="refresh token">{% endif %}
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p style="place-self:center;"><a href="{% url 'password_reset' %}">Lost password?</a><br/>
            {% if ssh_challenge %}
                <a href="{% url 'login' %}">Sign in with your password instead</a>
            {% elif config.ENABLE_SSH_OTP_LOGIN %}
                <a href="{% url 'sshlogin' %}">Sign in with your SSH key instead</a>
            {% endif %}</p>
    {% endif %}
{% endblock %}
