{% extends "base.html" %}
{% block title %}Password Change - {{ config.verbose_name }}{% endblock %}
{% block content %}
    <h2>Password Reset</h2>
    {% if user.is_authenticated %}
        <form class="submit-story-form" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                {{ field.label_tag }}
                {% if field.help_text %}
                    <p class="help-text">{{ field.help_text }}</p>
                {% endif %}
                {{ field }}
            {% endfor %}
            <div class="button-flex-box">
                <input type="submit" value="update password">
            </div>
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
        </form>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endblock %}
