{% extends "base.html" %}
{% block title %}Password Change - sic {% endblock %}
{% block content %}
    <h2>Password Reset</h2>
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="update password">
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
        </form>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endblock %}
