{% extends "base.html" %}
{% block title %}Password Reset - {{ config.verbose_name }} {% endblock %}
{% block content %}
    <h2>Password Reset</h2>

    {% if user.is_authenticated %}
        <p>You are already authenticated.</p>
    {% else %}
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="send password reset email">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    {% endif %}
{% endblock %}
