{% extends "base.html" %}
{% block title %}Password Reset - {{ config.verbose_name }} {% endblock %}
{% block content %}
    <h2>Password Reset</h2>

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
    {% else %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="send email">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    {% endif %}
{% endblock %}
