{% extends "base.html" %}
{% load utils %}
{% block title %}{{user}} profile - sic{% endblock %}
{% block style %}
    <style>
        .profile-container {
            display: flex;
            flex-flow: row wrap;
            gap: 1rem;
        }
    </style>
{% endblock %}
{% block content %}
    <nav>
        <ul>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'inbox_compose' %}?recipient={{ user|urlencode }}">Message user</a></li>
            {% endif %}
        </ul>
    </nav>
    <h1>{{ user }}</h1>
    {% if user.about %}
        <section>{{ user.about_to_html }}</section>
    {% endif %}
    <div class="profile-container">
        {% include "account/profile_include.html" with user=user %}
        <div class="aggregations">
            <h2>Aggregations</h2>
            {% spaceless %}
                <ul>
                    {% for c in user.taggregation_subscriptions.all %}
                        {% user_can_view_taggregation c request as can_view %}
                        {% if can_view %}
                            <li><a href="{{c.get_absolute_url }}">{{ c.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endspaceless %}
        </div>
    </div>
{% endblock %}
