{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}{{ user }} posts - {{ config.verbose_name }}{% endblock %}
{% block content %}
    <ul class="posts">
        {% for post in posts %}
            {% if post.is_story %}
                {% include "posts/story_list_item.html" with story=post %}
            {% else %}
                {% include "posts/comment.html" with comment=post reply_form=reply_form replies=False level=0 %}
            {% endif %}
        {% endfor %}
    </ul>
    <nav class="pagination" aria-label="pagination">
        <ul class="pagination">
            {% if posts.has_previous %}
                <li><a href="{% url 'profile_posts_page' name=user page_num=posts.previous_page_number %}"><span aria-hidden="true">«</span><span class="visuallyhidden">previous page</span></a></li>
            {% endif %}
            {% for page in pages %}
                {% if page == posts.number %}
                    <li><a href="" aria-current="page"><span class="visuallyhidden">page </span>{{ posts.number }}</a></li>
                {% elif page == None %}
                    <li><span aria-hidden="true">&hellip;</span></li>
                {% else %}
                    <li><a href="{% url 'profile_posts_page' name=user page_num=page %}"><span class="visuallyhidden">page </span>{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li><a href="{% url 'profile_posts_page' name=user page_num=posts.next_page_number %}"><span class="visuallyhidden">next page</span><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
