{% load humanize %}
{% load utils %}
{% with log.get_edited_object as edited_object %}
    <tr>
        <td><p><time datetime="{{ log.action_time | date:"Y-m-d H:i:s" }}+0000" title="{{ log.action_time }} UTC+00:00">{{ log.action_time|naturaltime }}</time></p></td>
        <td><p><a href="{{ log.user.get_absolute_url }}">{{ log.user }}</a>{% if log.user.is_admin %} (Admin){% elif log.user.is_moderator %} (Moderator){% endif %}</p></td>
        <td><p>{% if edited_object %}{{ log.content_type.name }} &ldquo;<a href="{{ edited_object.get_absolute_url }}">{{ edited_object }}</a>&rdquo;{% endif %}</p></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><p><b>Action</b>: {{ log.action }}</p></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><p>{% if log.reason %}<b>Reason</b>{% else %}<span class="no-reason">Reason</span>{% endif %}: {{ log.reason }}</p></td>
    </tr>
{% endwith %}
