{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}Moderation log - sic{% endblock %}
{% block style %}
    <style>
        td>p:only-child {
            margin:0;
        }
        td {
            padding: 5px 8px;
        }
        table {
            margin: auto;
            border-collapse: collapse;
        }
        tbody tr:nth-child(6n+1), tbody tr:nth-child(6n+2), tbody tr:nth-child(6n+3) {
            background: #e3e3e3;
        }
        tbody tr:nth-child(6n+1) td, tbody tr:nth-child(6n+2) td, tbody tr:nth-child(6n+3) td {
            border-color: #bab9b9;
        }
        span.no-reason {
            color: #585858;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Moderation Log</h1>
    <p class="help-text">All moderation actions <em>should</em> be in this public log.</p>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                {% with log.get_edited_object as edited_object %}
                    <tr>
                        <td><p><time datetime="{{ log.action_time | date:"Y-m-d H:i:s" }}+0000" title="{{ log.action_time }} UTC+00:00">{{ log.action_time|naturaltime }}</time></p></td>
                        <td><p><a href="{{ log.user.get_absolute_url }}">{{ log.user }}</a>{% if log.user.is_admin %} (Admin){% elif log.user.is_moderator %} (Moderator){% endif %}</p></td>
                        <td><p>{% if edited_object %}{{ log.content_type.name }} &ldquo;<a href="{{ edited_object.get_absolute_url }}">{{ edited_object }}</a>&rdquo;{% endif %}</p></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><p><b>Action</b>: {{ log.action }}</p></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><p>{% if log.reason %}<b>Reason</b>{% else %}<span class="no-reason">Reason</span>{% endif %}: {{ log.reason }}</p></td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    <nav class="pagination" aria-label="pagination">
        <ul class="pagination">
            {% if logs.has_previous %}
                <li><a href="{% url 'moderation_log_page' logs.previous_page_number %}"><span aria-hidden="true">«</span><span class="visuallyhidden">previous page</span></a></li>
            {% endif %}
            {% for page in pages %}
                {% if page == logs.number %}
                    <li><a href="" aria-current="page"><span class="visuallyhidden">page </span>{{ logs.number }}</a></li>
                {% elif page == None %}
                    <li><span aria-hidden="true">&hellip;</span></li>
                {% else %}
                    <li><a href="{% url 'moderation_log_page' page %}"><span class="visuallyhidden">page </span>{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if logs.has_next %}
                <li><a href="{% url 'moderation_log_page' logs.next_page_number %}"><span class="visuallyhidden">next page</span><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
