{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}Moderation log - sic{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                {% with log.get_edited_object as edited_object %}
                    <tr>
                        <td>{{ log.action_time|naturaltime }}</td>
                        <td><a href="{{ log.user.get_absolute_url }}">{{ log.user }}</a>{% if log.user.is_admin %} (Admin){% elif log.user.is_moderator %} (Moderator){% endif %}</td>
                        <td>{% if edited_object %}<a href="{{ edited_object.get_absolute_url }}">{{ edited_object }}</a>{% endif %}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Action: {{ log.action }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Reason: {{ log.reason }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    <nav class="pagination" aria-label="pagination">
        <ul class="pagination">
            {% if logs.has_previous %}
                <li><a href="{% url 'moderation_log_page' logs.previous_page_number %}"><span aria-hidden="true">«</span><span class="visuallyhidden">previous page</span></a></li>
            {% endif %}
            {% for page in pages %}
                {% if page == logs.number %}
                    <li><a href="" aria-current="page"><span class="visuallyhidden">page </span>{{ logs.number }}</a></li>
                {% elif page == None %}
                    <li><span aria-hidden="true">&hellip;</span></li>
                {% else %}
                    <li><a href="{% url 'moderation_log_page' page %}"><span class="visuallyhidden">page </span>{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if logs.has_next %}
                <li><a href="{% url 'moderation_log_page' logs.next_page_number %}"><span class="visuallyhidden">next page</span><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
