{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}Moderation log - {{ config.verbose_name }}{% endblock %}
{% block content %}
    <h1>Moderation Log</h1>
    <p class="help-text">All moderation actions <em>should</em> be in this public log.</p>
    <table class="moderation-log">
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                {% include 'moderation/log_list_item.html' with log=log %}
            {% endfor %}
        </tbody>
    </table>
    <nav class="pagination" aria-label="pagination">
        <ul class="pagination">
            {% if logs.has_previous %}
                <li><a href="{% url 'moderation_log_page' logs.previous_page_number %}"><span aria-hidden="true">«</span><span class="visuallyhidden">previous page</span></a></li>
            {% endif %}
            {% for page in pages %}
                {% if page == logs.number %}
                    <li><a href="" aria-current="page"><span class="visuallyhidden">page </span>{{ logs.number }}</a></li>
                {% elif page == None %}
                    <li><span aria-hidden="true">&hellip;</span></li>
                {% else %}
                    <li><a href="{% url 'moderation_log_page' page %}"><span class="visuallyhidden">page </span>{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if logs.has_next %}
                <li><a href="{% url 'moderation_log_page' logs.next_page_number %}"><span class="visuallyhidden">next page</span><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
