{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}Moderator panel - {{ config.verbose_name }}{% endblock %}
{% block content %}
    <h1>Moderation panel</h1>
    <div>
        <h2>Change user ban status</h2>
        <form method="POST" class="submit-story-form">
            {% csrf_token %}
            <table>
                {{ ban_user_form }}
            </table>
            <input type="submit" name="set-ban" value="Set ban">
        </form>
    </div>
    <div>
        <h2>Banned domains</h2>
        <form method="POST" class="submit-story-form">
            {% csrf_token %}
            <label for="domain-pk">Domain to ban:</label>
            <input name="domain-pk" type="text" placeholder="example.com">
            <input type="submit" name="domain-ban" value="Domain ban">
        </form>
        <table>
            {% for d in banned_domains %}
                <tr>
                    <th>{{ d }}</th>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="domain-pk" value="{{ d }}" />
                            <input type="submit" name="domain-ban" value="unban">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h2>Removed posts</h2>
        <p class="help-text">To edit a {% model_verbose_name 'story' False %}'s status, append <code>/moderate/</code> to its url to visit the appropriate editing page.</p>
        <table>
            <thead>
                <tr>
                    <th>post</th>
                    <th>Last moderation log</th>
                </tr>
            </thead>
            <tbody>
                {% for r in removed_posts %}
                    <tr>
                        <th><a href="{% url 'moderation_story' r.pk %}">{{ r }}</a></th>
                        <td>{{ r.last_log_entry|default:'No reason given.' }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
