{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}Edit {% model_verbose_name 'story' False %} {{ story }} - {{ config.verbose_name }}{% endblock %}
{% block content %}
    <h1>Edit {% model_verbose_name 'story' False %} {{ story }}</h1>
    <ul class="posts" aria-label="story post list">
        {% include "posts/story_list_item.html" with story=story %}
    </ul>

    <form method="POST" class="submit-story-form">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.label_tag }}
            {% if field.help_text %}
                <p class="help-text">{{ field.help_text }}</p>
            {% endif %}
            {{ field }}
        {% endfor %}
        <div class="button-flex-box">
            <input type="submit" name="set-status" value="Set status">
        </div>
    </form>

    <h2>Set pinned status</h2>
    <form method="POST" class="submit-story-form">
        {% csrf_token %}
        {% for field in pinned_form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% for field in pinned_form.visible_fields %}
            {{ field.errors }}
            {{ field.label_tag }}
            {% if field.help_text %}
                <p class="help-text">{{ field.help_text }}</p>
            {% endif %}
            {{ field }}
        {% endfor %}
        <div class="button-flex-box">
            <input type="reset" value="Reset">
            <input type="submit" name="set-pinned" value="Set pinned date">
        </div>
        <div class="button-flex-box">
            <input type="submit" name="set-pinned-indefinitely" value="Pin indefinitely">
            <input type="submit" name="set-pinned-unpin" value="Unpin">
        </div>
    </form>
    <h2>Moderation log history</h2>
    <table class="moderation-log">
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for log in history_logs %}
                {% include 'moderation/log_list_item.html' with log=log %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
