{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}contact - about {{ config.verbose_name }}{% endblock %}
{% block content %}
    <article>
        <header>
            <h1>Contact</h1>
            <p><em>Published on <time datetime="2021-07-21" title="2021-07-21">2021-07-21</time></em></p>
        </header>
        <p><a href="mailto:epilys@nessuent.xyz">epilys@nessuent.xyz</a> or on IRC: <code>#sic</code> on <a href="https://libera.chat/" rel="external nofollow">Libera Chat</a></p>
    </article>
{% endblock %}
