{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}about {{ config.verbose_name }}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/flair.css">
    <style>
        h2 {
            margin-bottom:0;
        }
    </style>
{% endblock %}
{% block content %}{% get_doc_flatpages as doc_flatpages %}{% get_externallink_flatpages as externallink_flatpages %}{% get_community_flatpages as community_flatpages %}{% get_config as config %}
    {% if config.verbose_name == 'sic' %}
        <div class="sic-animation">
            <div class="sic-animation__inner">
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
                <span class="sic-animation__item"></span>
            </div>
        </div>
    {% endif %}
    <h1>about {{ config.html_label }}</h1>
    <p>{{ config.html_label }} {{ config.html_subtitle }}.</p>
    <h2>documentation and policies</h2>
    <nav class="menu">
        <ul>
            <li><a href="{% url 'help' %}">Help / How to use the website</a></li>
            {% for flatpage in doc_flatpages %}
                {% if flatpage.show_inline %}
                    {{ flatpage.flatpage_ptr.content|safe }}
                {% else %}
                    <li><a href="{{ flatpage.flatpage_ptr.url }}">{% if flatpage.link_name %}{{ flatpage.link_name }}{% else %}{{ flatpage.flatpage_ptr.title }}{% endif %}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <h2>community and contributors</h2>
    <nav class="menu">
        <ul>
            <li><a href="{% url 'invitation_tree' %}">User invitation tree</a></li>
            <li><a href="{% url 'about_statistics' %}">Community statistics</a></li>
            {% for flatpage in community_flatpages %}
                {% if flatpage.show_inline %}
                    {{ flatpage.flatpage_ptr.content|safe }}
                {% else %}
                    <li><a href="{{ flatpage.flatpage_ptr.url }}">{% if flatpage.link_name %}{{ flatpage.link_name }}{% else %}{{ flatpage.flatpage_ptr.title }}{% endif %}</a></li>
                {% endif %}
            {% endfor %}
        </nav>
        <h2>links</h2>
        <nav class="menu">
            <ul>
                {% for flatpage in externallink_flatpages %}
                    {% if flatpage.show_inline %}
                        {{ flatpage.flatpage_ptr.content|safe }}
                    {% else %}
                        <li><a href="{{ flatpage.flatpage_ptr.url }}">{% if flatpage.link_name %}{{ flatpage.link_name }}{% else %}{{ flatpage.flatpage_ptr.title }}{% endif %}</a></li>
                    {% endif %}
                {% endfor %}
                {% if config.SHOW_GIT_REPOSITORY_IN_ABOUT_PAGE %}
                    <li>Source code: <a href="https://github.com/epilys/sic/">https://github.com/epilys/sic/</a></li>
                {% endif %}
            </ul>
        </nav>
{% endblock %}
