{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}privacy policy | sic{% endblock %}
{% block content %}
    <div>
        <h1>privacy policy</h1>
        <p>The only data we keep is your username, email, profile fields, and preferences, along with all the interactions you've made in the website (posts, upvotes, messages, etc).</p>
        <p>Your IP is visible in the server logs but these are not stored anywhere permanently. Use a proxy (VPN or TOR) if IP privacy is important to you.</p>
        <p>You can request your data in a reasonable format from the site's admins.</p>
        <p>You can request deletion of all your account's posts and other data when using the "Delete my account" option. It's also possible to request the deletion after deleting your account if you had chosen to keep your posts anonymized and not deleted by contacting the site's admins with the account email.</p>
        <p>For any questions and other requests, <a href="{% url 'about_contact' %}">contact us</a>.</p>
    </div>
{% endblock %}
