{% load humanize %}
{% load utils %}

{% get_comment_preview request comment.pk as preview %}
{% comment_is_upvoted as is_upvoted %}
<li class="comment{% if not comment.replies.exists %} no-children{% endif %}{% if level == 1 %} root{% endif %}" id="{{comment.slugify}}">
    {% spaceless %}
        {%if comment.deleted %}
            <div class="comment">
                <p><em>
                    {% if comment.last_log_entry %}
                        Comment deleted by {% if comment.last_log_entry.user == comment.user %}author{% else %}{{ comment.last_log_entry.user }}{% endif %}
                        <time datetime="{{ comment.last_log_entry.action_time | date:"Y-m-d H:i:s" }}+0000" title="{{ comment.last_log_entry.action_time }} UTC+00:00">
                            {{ comment.last_log_entry.action_time|naturaltime }}.
                        </time>{% if comment.last_log_entry.reason %} Reason: {{comment.last_log_entry.reason}}{% endif %}
                    {% else %}
                        {# This should only be possible on very early development versions #}
                        Comment deleted by author.
                    {% endif %}
                </em></p>
            </div>
        {%else %}
            <input class="comment" type="checkbox" id="comment-{{comment.pk}}" name="comment-{{comment.pk}}" >
            <label role="button" aria-label="toggle comment visibility" tabindex="0" class="comment" for="comment-{{comment.pk}}"></label>
            <div class="links">{% if config.ENABLE_KARMA %}<div class="votes">
                <div class="upvote{% if is_upvoted %} upvoted{% endif %}">
                    {% if request.user.is_authenticated %}
                        <form action="{% url_with_next 'upvote_comment' comment.story.pk comment.story.slugify comment.pk request %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" aria-label="upvote comment" title="upvote comment" value="">
                        </form>
                    {% endif %}
                </div>
                <span class="score">
                    {% if config.VISIBLE_KARMA %}
                        &#32;{{comment.karma}}
                    {% endif %}
                </span>
            </div>{% endif %} <a href="{{ comment.user.get_absolute_url }}" class="user_link{% if comment.user.is_banned %} banned-user{% elif comment.user.is_new_user %} new-user{% endif %}" title="{{ comment.get_message_id }}">{{ comment.user }}</a>
                <time datetime="{{ comment.created | date:"Y-m-d H:i:s" }}+0000" title="{{ comment.created }} UTC+00:00">{{ comment.created|naturaltime }}</time>
                {% if comment.last_log_entry %}
                    <time datetime="{{ comment.last_log_entry.action_time | date:"Y-m-d H:i:s" }}+0000" title="{{ comment.last_log_entry.action_time }} UTC+00:00">- Edited {{ comment.last_log_entry.action_time|naturaltime }}</time>
                {%endif%}
                | <a href="{{comment.get_absolute_url}}">link</a>
                | <label class="reply" for="reply-{{comment.pk}}"><a href="">reply</a></label>{% if show_story %} | on <a href="{{ comment.story.get_absolute_url }}">{{ comment.story.title }}</a>{% endif %}
                | <a href="{% url 'comment_source' comment.story.pk comment.story.slugify comment.pk %}">source</a>
                {% if request.user.is_authenticated %}
                    {%if request.user == comment.user or request.user.is_moderator %}
                        | <a href="{% url 'edit_comment' comment.pk %}">edit</a>
                        | <a href="{% url 'delete_comment' comment.pk %}">delete</a>
                    {% endif %}
                {% endif %}

                {% if comment.hat %}
                    <span class="hat" style="{% if show_colors %}--hat-color: {{ comment.hat.hex_color }}{% endif %}">{{ comment.hat.name }}</span>
                {% endif %}
            </div>
            <div class="comment">{{ comment.text_to_html }}</div>
            {% if request.user.is_authenticated %}
                <input class="reply" type="checkbox" id="reply-{{comment.pk}}" name="reply-{{comment.pk}}"
                    {% if preview %}checked="checked"{% endif %}>
                <form action="{% url 'reply' comment.pk %}" method="POST" class="reply-form">
                    <label class="reply" for="reply-{{comment.pk}}" style="align-self: end; position: absolute;"><a href="">hide</a></label>
                    <div class="reply-parent">
                        <a href="{{ comment.user.get_absolute_url }}" class="user_link{% if comment.user.is_banned %} banned-user{% elif comment.user.is_new_user %} new-user{% endif %}">{{ comment.user }}</a> <time datetime="{{ comment.created | date:"Y-m-d H:i:s" }}+0000" title="{{ comment.created }} UTC+00:00"> {{ comment.created|naturaltime }}</time>
                        <div class="comment">{{ comment.text_to_html }}</div>
                    </div>
                    {% csrf_token %}
                    <input type="text" name="preview_comment_pk" value="{{comment.pk}}" hidden>
                    {% if preview %}
                        <span>Preview:</span>
                        <div class="comment preview">{{ preview }}</div>
                    {% endif %}
                    <label for="reply-{{comment.pk}}-textarea">reply</label>
                    <textarea id="reply-{{comment.pk}}-textarea" name="text" cols="40" rows="6" minlength="1" placeholder="" required="">{{ preview_input }}</textarea>
                    <div class="button-flex-box">
                        <input class="heavy-positive-action" type="submit" value="Submit">
                        <input formaction="{% url_with_next 'preview_comment' request %}" type="submit" name="preview" value="Preview">
                        <a target="_blank" href="{% url 'formatting_help' %}">Formatting help</a>
                    </div>
                </form>
            {% endif %}
        {% endif %}
        <div class="replies">
            {% if replies and not delete_comment %}
                <ul class="posts" style="--level: {{ level }}">
                    {% for reply in replies %}
                        {{ reply }}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endspaceless %}
</li>
