<table class="markdown-reference">
    <caption>We use the Commonmark specification. Reference table taken from <a href="https://commonmark.org/help/">Commonmark</a>.</caption>
    <thead>
        <tr>
            <th>Type</th>
            <th class="second-example">Or</th>
            <th>… to Get</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="preformatted">*Italic*</td>
            <td class="preformatted second-example">_Italic_</td>
            <td><em>Italic</em></td>
        </tr>
        <tr>
            <td class="preformatted">**Bold**</td>
            <td class="preformatted second-example">__Bold__</td>
            <td><strong>Bold</strong></td>
        </tr>
        <tr>
            <td class="preformatted">
                # Heading 1
            </td>
            <td class="preformatted second-example">
                Heading 1<br>
                =========
            </td>
            <td>
                <h1 class="smaller-h1">Heading 1</h1>
            </td>
        </tr>
        <tr>
            <td class="preformatted">
                ## Heading 2
            </td>
            <td class="preformatted second-example">
                Heading 2<br>
                ---------
            </td>
            <td>
                <h2 class="smaller-h2">Heading 2</h2>
            </td>
        </tr>
        <tr>
            <td class="preformatted">
                [Link](http://a.com)
            </td>
            <td class="preformatted second-example">
                [Link][1]<br>
                ⋮<br>
                [1]: http://b.org
            </td>
            <td><a href="https://commonmark.org/">Link</a></td>
        </tr>
        <tr>
            <td class="preformatted">
                http://a.com
            </td>
            <td class="preformatted second-example">
            </td>
            <td><a href="http://a.com">http://a.com</a></td>
        </tr>
        <tr>
            <td class="preformatted">
                ![Image](http://url/a.png)
            </td>
            <td class="preformatted second-example">
                ![Image][1]<br>
                ⋮<br>
                [1]: http://url/b.jpg
            </td>
            <td>
                <svg width="50" height="50" viewBox="0 0 512 512">
                    <path d="M37.8 237.8h14.6v12.6H37.8zM37.8 269.3h14.6v12.6H37.8zM37.8 174.9h14.6v12.6H37.8zM37.8 206.4h14.6V219H37.8zM37.8 300.8h14.6v12.6H37.8zM37.8 332.3h14.6v12.6H37.8zM37.8 143.4h14.6V156H37.8zM73.4 237.8h35v12.6h-35zM73.4 269.3h76.7v12.6H73.4zM73.4 174.9h403.1v12.6H73.4zM73.4 206.4h294.2V219H73.4zM73.4 300.8H247v12.6H73.4zM73.4 332.3h134.7v12.6H73.4zM73.4 143.4h43.1V156H73.4z"></path>
                    <circle cx="40.8" cy="97.3" r="6.2"></circle>
                    <circle cx="62.9" cy="97.3" r="6.2"></circle>
                    <circle cx="84.9" cy="97.3" r="6.2"></circle>
                    <path d="M511.9 108.8c-.2-3-1-9.9-4.2-16.8-4.1-8.8-12.9-19.4-31.3-19.4H37.8C9 72.6.7 95.4.1 108.8H0v283.9h366.3l14.3 42.8 19.6-19.6 24.5 24.5 28.9-28.9-18.7-18.7H512l-.1-284zM37.8 85.1h438.7c19.6 0 22.5 17.8 22.9 23.6H12.7c.4-5.8 3.6-23.6 25.1-23.6zm398 326.2l-11.1 11.1-24.5-24.5-14.1 14.1-19.3-58 58 19.3-13.4 13.4 24.4 24.6zm63.6-31.3h-63.5l12.1-12.1-101.2-33.7 15.3 45.8H12.6V121.4h486.8V380z"></path>
                </svg>
            </td>
        </tr>
        <tr>
            <td class="preformatted">
                &gt; Blockquote
            </td>
            <td class="preformatted second-example">
                &nbsp;
            </td>
            <td>
                <blockquote>Blockquote</blockquote>
            </td>
        </tr>
        <tr>
            <td class="preformatted">
                <p>
                    * List<br>
                    * List<br>
                    * List
                </p>
            </td>
            <td class="preformatted second-example">
                <p>
                    - List<br>
                    - List<br>
                    - List<br>
                </p>
            </td>
            <td>
                <ul>
                    <li>List</li>
                    <li>List</li>
                    <li>List</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="preformatted">
                <p>
                    1. One<br>
                    2. Two<br>
                    3. Three
                </p>
            </td>
            <td class="preformatted second-example">
                <p>
                    1) One<br>
                    2) Two<br>
                    3) Three
                </p>
            </td>
            <td>
                <ol>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td class="preformatted">
                Horizontal rule:<br>
                <br>
                ---
            </td>
            <td class="preformatted second-example">
                Horizontal rule:<br>
                <br>
                ***
            </td>
            <td>
                Horizontal rule:
                <hr class="custom-hr">
            </td>
        </tr>
        <tr>
            <td class="preformatted">
                `Inline code` with backticks
            </td>
            <td class="preformatted second-example">
                &nbsp;
            </td>
            <td>
                <code class="preformatted">Inline code</code> with backticks
            </td>
        </tr>
        <tr>
            <td class="preformatted">
                ```<br>
                # code block<br>
                print '3 backticks or'<br>
                print 'indent 4 spaces'<br>
                ```
            </td>
            <td class="preformatted second-example">
                <span class="spaces">····</span># code block<br>
                <span class="spaces">····</span>print '3 backticks or'<br>
                <span class="spaces">····</span>print 'indent 4 spaces'
            </td>
            <td>
                <div class="code-block">
                    # code block
                    <br> print '3 backticks or'
                    <br> print 'indent 4 spaces'
                </div>
            </td>
        </tr>
        <tr>
            <td class="preformatted">
                &lt;/u/user&gt;
            </td>
            <td class="preformatted second-example">
                &nbsp;
            </td>
            <td><a href="/u/user">/u/user</a></td>
        </tr>
    </tbody>
</table>
