{% extends "base.html" %}
{% load humanize %}
{% block title %}recent comments | sic{% endblock %}
{% block content %}
    <ul class="posts">
        {% for comment in comments %}
            {% include "posts/comment.html" with comment=comment reply_form=reply_form replies=False show_story=True level=0 %}
        {% endfor %}
    </ul>
    <nav class="pagination" aria-label="pagination">
        <ul class="pagination">
            {% if comments.has_previous %}
                <li><a href="{% url 'recent_comments_page' comments.previous_page_number %}"><span aria-hidden="true">«</span><span class="visuallyhidden">previous page</span></a></li>
            {% endif %}
            {% for page in pages %}
                {% if page == comments.number %}
                    <li><a href="" aria-current="page"><span class="visuallyhidden">page </span>{{ comments.number }}</a></li>
                {% elif page == None %}
                    <li><span aria-hidden="true">&hellip;</span></li>
                {% else %}
                    <li><a href="{% url 'recent_comments_page' page %}"><span class="visuallyhidden">page </span>{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if comments.has_next %}
                <li><a href="{% url 'recent_comments_page' comments.next_page_number %}"><span class="visuallyhidden">next page</span><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
