{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}search | sic{% endblock %}
{% block style %}
    <style>
        table, td {
            border: none;
            text-align: left;
        }

        td>ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>search</h1>
    <form method="GET" class="submit-story-form">
        <table>
            {{ form }}
        </table>
        <div class="button-flex-box-rev"><input type="submit" value="Search"></div>
    </form>
    {% if comments %}
        <ul class="posts">
            {% for comment in comments %}
                <li class="comment no-children" id="{{comment.slugify}}">
                    <span class="links"><span class="votes">
                        <span class="score">
                            {{comment.karma}}
                        </span>
                    </span> <a href="{{ comment.user.get_absolute_url }}">{{ comment.user }}</a> <time datetime="{{ comment.created | date:"Y-m-d H:i:s" }}" title="{{ comment.created }}">{{ comment.created|naturaltime }}</time> | <a href="{{comment.get_absolute_url}}">link</a> | on <a href="{{ comment.story.get_absolute_url }}">{{ comment.story.title }}</a> | <a href="{% url 'comment_source' comment.story.pk 'test' comment.pk %}">source</a>
                        {% if comment.hat %}
                            <span class="hat" style="--hat-color: {{ comment.hat.hex_color }}">{{ comment.hat.name }}</span>
                        {% endif %}
                    </span>
                    <span class="comment">{{ comment.snippet|escape }}</span>
                    <a href="{{ comment.get_absolute_url }}">go to comment</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if stories %}
        <ul class="posts">
            {% for story in stories %}
                {% include "posts/story_list_item.html" with story=story %}
                <li>
                    <span class="comment">{{ story.snippet|escape }}</span>
                    <a href="{{ story.get_absolute_url }}">go to story</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
