{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}search | sic{% endblock %}
{% block style %}
    <style>
        table, td {
            border: none;
            text-align: left;
        }

        td>ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        #id_search_in {
            display: inline-flex;
            gap: 1rem;
            list-style: none;
            padding: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>search</h1>
    <form method="GET" class="submit-story-form">
        {{ form.text.errors }}
        {{ form.text.label_tag }}
        {% if form.text.help_text %}
            <p class="help-text">{{ form.text.help_text }}</p>
        {% endif %}
        {{ form.text }}
        <div>
            {{ form.search_in.errors }}
            {{ form.search_in.label_tag }}
            {% if form.search_in.help_text %}
                <p class="help-text">{{ form.search_in.help_text }}</p>
            {% endif %}
            {{ form.search_in }}
        </div>
        <div>
            {{ form.order_by.errors }}
            {{ form.order_by.label_tag }}
            {% if form.order_by.help_text %}
                <p class="help-text">{{ form.order_by.help_text }}</p>
            {% endif %}
            {{ form.ordering.errors }}
            {{ form.ordering.label_tag }}
            {% if form.ordering.help_text %}
                <p class="help-text">{{ form.ordering.help_text }}</p>
            {% endif %}
            <div style="display: inline-block;">
                {{ form.order_by }}
                {{ form.ordering }}
            </div>
        </div>
        <div class="button-flex-box-rev"><input type="submit" value="Search"></div>
    </form>
    {% if comments %}
        <ul class="posts">
            {% for comment in comments %}
                <li class="comment no-children" id="{{comment.slugify}}">
                    <span class="links"><span class="votes">
                        <span class="score">
                            {{comment.karma}}
                        </span>
                    </span> <a href="{{ comment.user.get_absolute_url }}">{{ comment.user }}</a> <time datetime="{{ comment.created | date:"Y-m-d H:i:s" }}" title="{{ comment.created }}">{{ comment.created|naturaltime }}</time> | <a href="{{comment.get_absolute_url}}">link</a> | on <a href="{{ comment.story.get_absolute_url }}">{{ comment.story.title }}</a> | <a href="{% url 'comment_source' comment.story.pk 'test' comment.pk %}">source</a>
                        {% if comment.hat %}
                            <span class="hat" style="--hat-color: {{ comment.hat.hex_color }}">{{ comment.hat.name }}</span>
                        {% endif %}
                    </span>
                    <span class="comment">{{ comment.snippet|escape }}</span>
                    <a href="{{ comment.get_absolute_url }}">go to comment</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if stories %}
        <ul class="posts">
            {% for story in stories %}
                {% include "posts/story_list_item.html" with story=story %}
                <li>
                    <span class="comment">{{ story.snippet|escape }}</span>
                    <a href="{{ story.get_absolute_url }}">go to story</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
