{% extends "base.html" %}
{% load humanize %}
{% load comment %}
{% load utils %}
{% block title %}search | sic{% endblock %}
{% block style %}
    <style>
        table, td {
            border: none;
            text-align: left;
        }

        td>ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        #id_search_in {
            display: inline-flex;
            gap: 1rem;
            list-style: none;
            padding: 0;
        }
        hr.light {
            border: 1px dotted var(--entry-separator-color);
        }
        ul.posts li.story + li, ul.posts li.comment + li {
            border-top: none;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>search</h1>
    <form method="GET" class="submit-story-form">
        {{ form.text.errors }}
        {{ form.text.label_tag }}
        {% if form.text.help_text %}
            <p class="help-text">{{ form.text.help_text }}</p>
        {% endif %}
        {{ form.text }}
        <div>
            {{ form.search_in.errors }}
            {{ form.search_in.label_tag }}
            {% if form.search_in.help_text %}
                <p class="help-text">{{ form.search_in.help_text }}</p>
            {% endif %}
            {{ form.search_in }}
        </div>
        <div>
            {{ form.order_by.errors }}
            {{ form.order_by.label_tag }}
            {% if form.order_by.help_text %}
                <p class="help-text">{{ form.order_by.help_text }}</p>
            {% endif %}
            {{ form.ordering.errors }}
            {{ form.ordering.label_tag }}
            {% if form.ordering.help_text %}
                <p class="help-text">{{ form.ordering.help_text }}</p>
            {% endif %}
            <div style="display: inline-block;">
                {{ form.order_by }}
                {{ form.ordering }}
            </div>
        </div>
        <div class="button-flex-box-rev"><input type="submit" value="Search"></div>
    </form>
    {% if count %}
        <p>{{ count }} result{{ count|pluralize }}.</p>
    {% endif %}
    {% if comments %}
        <h2>{{ comments|length }} matching comment{{ comments|length|pluralize }}</h2>
        <ul class="posts">
            {% for comment in comments %}
                <li>
                    <i>Match</i>:
                    <blockquote>
                        <span class="comment">{{ comment.snippet|escape }}</span>
                    </blockquote>
                    <i>In comment</i>:
                </li>
                {% render_comments request comment reply_form show_story=True only_roots=False %}
                {% if not forloop.last %}
                    <li>
                        <hr class="light" />
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if stories %}
        <h2>{{ stories|length }} matching stor{{ stories|length|pluralize:"y,ies" }}</h2>
        <ul class="posts">
            {% for story in stories %}
                <li>
                    <i>Match</i>:
                    <blockquote>
                        <span class="comment">{{ story.snippet|escape }}</span>
                    </blockquote>
                    <i>In story</i>:
                </li>
                {% include "posts/story_list_item.html" with story=story %}
                {% if not forloop.last %}
                    <li>
                        <hr class="light" />
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
