{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}{% if story %}edit story - {{ story.title }}{% else %}submit story{% endif %} - sic{% endblock %}
{% block script %}
    <script>
        var error = null;
        import("{% static 'tag_input_wasm.js' %}")
            .then((module) => {
            async function run() {
                let w = await module.default("{% static 'tag_input_wasm_bg.wasm' %}");
                module.setup("tag", "id_tags", "tags_json");
                module.setup("kind", "id_kind", "kind_json");
            }
            return run();
        }).catch(err => {
            console.warn("Could not load tag input .wasm file.\n\nThe error is saved in the global variable `error` for more details. The page and submission form will still work.\n\nYou can use `console.dir(error)` to see what happened.");
            error = err;
        });
    </script>
{% endblock %}
{% block style %}
    <style>
        .tag-wasm {
            border: 1px solid ThreeDLightShadow;
            padding: 5px;
            display: inline;
            cursor: text;
        }
        input.tag-wasm-input {
            border: none;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .tag-wasm, .tag-wasm-tag-list {
            display: inline;
        }
        .tag-wasm-tag-list {
            gap: 6px;
        }
        .tag-wasm-tag-list > * {
            margin-bottom: 2px;
        }
        span.tag-remove {
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
            margin-left: 1px;
        }
        p.help-text.after {
            margin-bottom: 0;
        }
        input.tag-wasm-input:focus {
            outline: none;
        }
        .tag-wasm:focus-within {
            outline: 1px solid Highlight;
        }
    </style>
    {{tags|json_script:"tags_json" }}
    {{kinds|json_script:"kind_json" }}
{% endblock %}
{% block content %}
    {% if story %}
        <h1>edit story</h1>
    {% else %}
        <h1>submit story</h1>
    {% endif %}
    <p class="help-text">A story can have no <code>url</code>; in that case, the story content is what you put in the description.</p>
    {% if not story %}
        <p class="help-text">You can edit your story after submission to add missing tags or correct mistakes.</p>
    {% endif %}
    <form method="post" class="submit-story-form">
        {% if preview %}
            <span>Preview:</span>
            <div class="title">
                <a href="{{ preview.url }}" class="title">{{ preview.title }}</a>
                <span class="netloc">{{ preview.domain|default_if_none:"text" }}</span>
                {% if preview.publish_date %}<span>Published: <time datetime="{{ preview.publish_date | date:"Y-m-d" }}" title="{{ preview.publish_date }}">{{ preview.publish_date|naturalday }}</time></span>{% endif %}
                {% include "posts/story_tags.html" with tags=preview.tags %}
            </div>
            <span class="comment preview">{{ preview.description }}</span>
        {% endif %}
        {% csrf_token %}
        <fieldset>
            <legend>content</legend>
            {{ form.title.errors }}
            {{ form.title.label_tag }}
            {% if form.title.help_text %}
                <p class="help-text">{{ form.title.help_text }}</p>
            {% endif %}
            {{ form.title }}
            {{ form.url.errors }}
            {{ form.url.label_tag }}
            {% if form.url.help_text %}
                <p class="help-text">{{ form.url.help_text }}</p>
            {% endif %}
            {{ form.url }}
            <div class="button-flex-box">
                <input type="submit" name="fetch-title" value="fetch title">
            </div>
        </fieldset>
        <details>
            <summary><em>Optional</em>&hairsp;: Set description, content warning</summary>
            <fieldset>
                <legend>content <abbr title="continued">cont'd</abbr></legend>
                {{ form.description.errors }}
                {{ form.description.label_tag }}
                {% if form.description.help_text %}
                    <p class="help-text">{{ form.description.help_text }}</p>
                {% endif %}
                {{ form.description }}
                <a target="_blank" href="{% url 'formatting_help' %}">Formatting help</a>
                {{ form.content_warning.errors }}
                {{ form.content_warning.label_tag }}
                {% if form.content_warning.help_text %}
                    <p class="help-text">{{ form.content_warning.help_text }}</p>
                {% endif %}
                {{ form.content_warning }}
            </fieldset>
        </details>
        <fieldset>
            <legend>tags</legend>
            {{ form.tags.errors }}
            {{ form.tags.label_tag }}
            {% if form.tags.help_text %}
                <p class="help-text">{{ form.tags.help_text }}</p>
            {% endif %}
            {{ form.tags }}
        </fieldset>
        <details>
            <summary><em>Optional</em>&hairsp;: Set publish date, author status (are you the author of this content?), story kind (<abbr title="for example">e.g.</abbr> audio transcript, video, book)</summary>
            <fieldset>
                <legend>other metadata</legend>
                {{ form.publish_date.errors }}
                {{ form.publish_date.label_tag }}
                {% if form.publish_date.help_text %}
                    <p class="help-text">{{ form.publish_date.help_text }}</p>
                {% endif %}
                {{ form.publish_date }}
                {{ form.user_is_author.errors }}
                {{ form.user_is_author.label_tag }}
                {% if form.user_is_author.help_text %}
                    <p class="help-text">{{ form.user_is_author.help_text }}</p>
                {% endif %}
                {{ form.user_is_author }}
                {{ form.kind.errors }}
                {{ form.kind.label_tag }}
                {% if form.kind.help_text %}
                    <p class="help-text">{{ form.kind.help_text }}</p>
                {% endif %}
                {{ form.kind }}
            </fieldset>
        </details>
        {% if form.reason %}
            <fieldset>
                <legend>modifications</legend>
                {{ form.reason.errors }}
                {{ form.reason.label_tag }}
                {% if form.reason.help_text %}
                    <p class="help-text">{{ form.reason.help_text }}</p>
                {% endif %}
                {{ form.reason }}
            </fieldset>
        {% endif %}
        <div class="button-flex-box">
            <input class="heavy-positive-action" type="submit" value="{% if story %}Save{% else %}Submit{% endif %}">
            <input type="submit" name="preview" value="Preview">
        </div>
    </form>
{% endblock %}
