{% extends "base.html" %}
{% load utils %}
{% block title %}sic{% endblock %}
{% block content %}
    <div style="grid-row: 1/ span 1;">
        <nav>
            <ul>
                <li><a href="{% url 'edit_settings' %}">edit settings</a></li>
                <li><a href="{% url 'edit_profile' %}">edit profile</a></li>
                <li><a href="{{ user.get_absolute_url }}">view profile</a></li>
                <li><a href="{% url 'bookmarks' %}">bookmarks</a></li>
                <li><a href="{% url 'notifications' %}">notification history</a></li>
                <li><a href="{% url 'password_change' %}">change password</a></li>
            </ul>
        </nav>
    </div>
    <h2>profile</h2>
    <div class="profile">
        <div id="avatar">
            <figure id="avatar-thumbnail" style="width: max-content; background-image: url({{user.avatar|default_if_none:''}});">
                {% if user.avatar %}<img src="{{ user.avatar }}" title="{{ user.avatar_title|default_if_none:''}}">{% else %}<div>None.</div>{% endif %}
                <figcaption>{{ user.avatar_title|default_if_none:"<em>No title.</em>" }} <a href="{% url 'edit_avatar' %}">edit avatar</a></figcaption>
            </figure>
        </div>
        <table>
            <tbody>
                <tr>
                    <th>username:</th>
                    <td>{{ user.username }}</td>
                </tr>
                {% for label, metadata in user.metadata_fields %}
                    <tr>
                        <th>{{ label }}:</th>
                        <td>{{ metadata|urlize }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>about:</th>
                    <td>{{ user.about }}</td>
                </tr>
                <tr>
                    <th>status:</th>
                    <td>{% if not user.is_active %}in{% endif %}active</td>
                </tr>
                <tr>
                    <th>joined:</th>
                    <td>{{ user.created }}</td>
                </tr>
                <tr>
                    <th>karma:</th>
                    <td>{{ user.karma }}</td>
                </tr>
                <tr>
                    <th>stories:</th>
                    <td>{{ user.stories.count }}</td>
                </tr>
                <tr>
                    <th>comments:</th>
                    <td>{{ user.comments.count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="settings">
        <h2>settings</h2>
        {% spaceless %}
            <table>
                <tbody>
                    <tr>
                        <th>email notifications</th>
                        <td>{{ user.email_notifications }}</td>
                    </tr>
                    <tr>
                        <th>email replies</th>
                        <td>{{ user.email_replies }}</td>
                    </tr>
                    <tr>
                        <th>email messages</th>
                        <td>{{ user.email_messages }}</td>
                    </tr>
                    <tr>
                        <th>email mentions</th>
                        <td>{{ user.email_mentions }}</td>
                    </tr>
                    <tr>
                        <th>show avatars</th>
                        <td>{{ user.show_avatars }}</td>
                    </tr>
                    <tr>
                        <th>show story previews</th>
                        <td>{{ user.show_story_previews }}</td>
                    </tr>
                    <tr>
                        <th> show submitted story threads</th>
                        <td>{{ user.show_submitted_story_threads }}</td>
                    </tr>
                </tbody>
            </table>
        {% endspaceless %}
    </div>
    <div class="invites">
        <div class="invite_tree">
            <h2>Invitation tree</h2>
            <ul class="tree">
                {% include "invitation_tree.html" with user=user depth=0 max_depth=3 %}
            </ul>
            {% for inv in user.invited.all %}
                <p title="{{ inv.id }}">{{ inv.created }} - {{ inv.address }} - {% if inv.accepted %}<span class="accepted">accepted by <a href="{{ inv.receiver.get_absolute_url }}">{{ inv.receiver }}</a></span>{% else %}no answer yet <a href="{% url_with_next 'resend_invite' invite_pk=inv.pk request %}">resend email</a>, or <a href="{{ inv.get_absolute_url }}">share link</a>{% endif %}</p>
            {% empty %}
                You haven't invited anyone yet.
            {% endfor %}
        </div>
        <div class="generate_an_invite">
            <h2>Invite a new user</h2>
            <form method="POST" action="{% url_with_next 'generate_invite' request %}">
                {% csrf_token %}
                <table>
                    {{ generate_invite_form }}
                </table>
                <input type="submit" value="generate">
            </form>
        </div>
    </div>
    <div class="hats">
        <h2>Hats</h2>
        {% if can_add_hats %}
            <nav>
                <ul>
                    <li><a href="{% url 'new_hat' %}">add hat</a></li>
                </ul>
            </nav>
            <ul>
                {% for hat in user.hats.all %}
                    <li class="hat" style="--hat-color: {{ hat.hex_color }}"><span class="hat" title="{{ hat.hex_color }}">{{ hat.name }}</span> <a href="{% url 'edit_hat' hat.pk %}">edit</a></li>
                {% empty %}
                    <li>You have no hats.</li>
                {% endfor %}
            </ul>
        {% else %}
            {% if user.is_new_user %}
                <p>New accounts can't create hats.</p>
            {% else %}
                <p>Your karma is too low, so you cannot create or use hats.</p>
            {% endif %}
        {% endif %}
    </div>
    <div class="taggregations">
        <h2>Aggregations</h2>
        <nav>
            <ul>
                <li><a href="{% url 'new_aggregation' %}">create</a></li>
            </ul>
        </nav>
        {% if user.created_taggregations.exists %}
            <h3>Created:</h3>
            <ul>
                {% for c in user.created_taggregations.all %}
                    <li><a href="{{c.get_absolute_url }}">{{ c.name }}</a></li>
                {% empty %}
                    <li>You have created no Aggregations.</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if user.moderated_taggregations.exists %}
            <h3>Moderated:</h3>
            <ul>
                {% for c in user.moderated_taggregations.all %}
                    <li><a href="{{c.get_absolute_url }}">{{ c.name }}</a></li>
                {% empty %}
                    <li>You moderate no Aggregations.</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h3>Subscribed:</h3>
        <ul>
            {% for c in user.taggregation_subscriptions.all %}
                <li><a href="{{c.get_absolute_url }}">{{ c.name }}</a></li>
            {% empty %}
                <li>You have no Aggregation subscriptions. Browse public Aggregations or create your own.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
