<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="alternate" type="application/rss+xml" href="{% url 'latest_stories_rss' %}" title="Latest Stories RSS">
        <link rel="alternate" type="application/atom+xml" href="{% url 'latest_stories_atom' %}" title="Latest Stories Atom">
        <title>{% block title %}sic{% endblock %}</title>
        {% block style %}{% endblock %}
    </head>
    <body>
        {% spaceless %}
            <header>
                    <div class="logo">
                        <span>sic</span>
                    </div>
                    <nav class="menu">
                        <ul>
                          <li><a href="{% url 'index' %}">Home</a></li>
                          <li><a href="{% url 'recent' %}">Recent</a></li>
                          <li><a href="{% url 'recent_comments' %}">Comments</a></li>
                          {% if request.user.is_authenticated %}
                          <li><a href="{% url 'submit' %}">Submit story</a></li>
                          {% endif %}
                          <li>Search</li>
                        </ul>
                    </nav>
                    <div style="width: 100%;"></div>
                    {% if request.user.is_authenticated %}
                    <nav class="user">
                        <ul>
                          <li>Replies</li>
                          <li><a href="{% url 'inbox' %}">Messages</a></li>
                          <li><a href="{% url 'account' %}">{{ request.user }}</a></li>
                          <li><a href="{% url 'logout' %}?next={{request.get_full_path|urlencode}}">logout</a></li>
                        </ul>
                    </nav>
                    {% else %}
                    <nav class="user">
                      <ul>
                        <li><a href="{% url 'login' %}?next={{request.get_full_path|urlencode}}">Login</a></li>
                        <li><details id="signup-details" title="You will need an invitation from an existing user to join."><summary><a href="">Sign up</a></summary></details></li>
                      </ul>
                    </nav>
                    {% endif %}
            </header>
        {% endspaceless %}
        <main>
        {% if messages %}
            <ul class="messagelist">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            {% block content %}<!-- default content text (typically empty) -->{% endblock %}
        </main>
        <footer>
          <a href="{% url 'latest_stories_rss' %}" title="Latest Stories RSS" class="feed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
</svg></a>
          <a href="{% url 'latest_stories_atom' %}" title="Latest Stories Atom" class="feed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-3-8.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1zm0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1z"/>
</svg></a>
        </footer>
    </body>
</html>
