{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}bookmarks - sic{% endblock %}
{% block content %}
    <nav>
        <ul>
            <li><a href="{% url 'bookmarks_json' %}">Export to <code>json</code></a></li>
        </ul>
    </nav>
    <ul class="posts">
        {% for b in bookmarks %}
            {% if b.is_story %}
                {% include "story_list_item.html" with story=b.story %}
            {% else %}
                {% include "comment.html" with comment=b.comment reply_form=reply_form shallow=True level=0 %}
            {% endif %}
            <li class="bookmark-annotation">
                <table>
                    <tr>
                        <th>Added:</th>
                        <td>{{ b.created }}</td>
                    </tr>
                    <tr>
                        <th>Annotation:</th>
                        <td>{% if b.annotation %}
                            {{ b.annotation }}
                        {% else %}
                            None.
                        {% endif %}</td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <a href="{% url 'edit_bookmark' b.pk %}">edit bookmark</a>
                        </th>
                    </tr>
                </table>
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if bookmarks.has_previous %}
                <a href="{% url 'bookmarks' %}">&laquo; first</a>
                <a href="{% url 'bookmarks_page' page_num=bookmarks.previous_page_number %}">&lt; previous</a>
            {% endif %}

            <span class="current">
                Page {{ bookmarks.number }}
            </span>

            {% if bookmarks.has_next %}
                <a href="{% url 'bookmarks_page' page_num=bookmarks.next_page_number %}">next &gt;</a>
            {% else %}
                (of {{bookmarks.number}})
            {% endif %}
        </span>
    </div>
{% endblock %}
