{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}browse aggregations - sic{% endblock %}
{% block style %}
    <style>
        dl.aggregations {
            margin-top:0;
            width: var(--main-width);
        }

        dl.aggregations a.agg-name {
            font-family: monospace;
        }
        dl.aggregations>dd dd {
            display: inline-block;
        }
        dl.aggregations dt {
            font-weight: bold;
            color: #217ac0;
            font-size: 110%;
        }
        dl.aggregations dd { margin-left: 16px }

        dl.aggregations>dd + dt {
            margin-top: 1rem;
            border-top: 2px inset gray;
            padding-top: 1rem;
        }
        dl.aggregations>dd dt {
            width: max-content;
            height: min-content;
            border: 1px solid black;
            background: white;
            border-radius: 3px;
            padding: 2px 5px;
        }


        dl.aggregations dl {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-auto-rows: min-content;
        }

        dd dd > * {
            vertical-align: middle;
        }

    </style>
{% endblock %}
{% block content %}
    <nav>
        <ul>
            <li><a href="{% url 'browse_tags' %}">Browse tags</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'new_aggregation' %}">Create aggregation</a></li>
            {% endif %}
            <li><form method="get" class="order-by-form">
                {% for f in order_by_form %}
                    {{ f.label_tag }}
                    {{ f }}
                {% endfor %}
                <input type="submit" value="sort">
            </form></li>
        </ul>
    </nav>
    <p class="help-text">Aggregations are collections of tags you can subscribe to. They populate your frontpage. You can create your own private or public aggregations or subscribe to public ones.</p>
    {% spaceless %}
        <dl class="aggregations">
            {% for agg in aggs %}
                <dt><a href="{% url 'taggregation' agg.pk agg.slugify %}" class="agg-name">{{ agg.name }}</a> {{ agg.tags.count }} tag{{ agg.tags.count|pluralize}}</dt>
                <dd>
                    <dl>
                        <dt>description</dt>
                        <dd><span>{{ agg.description }}</span></dd>
                        <dt>subscribers</dt>
                        <dd><span>{{ agg.subscribers.count }}</span></dd>
                        <dt>tags</dt>
                        <dd>
                            <ul class="tags">
                                {% for tag in agg.tags.all %}
                                    <li style="{% if show_colors %}{{ tag.color_vars_css }}{% endif %}"><div class="tag"><span class="tag-name">{{ tag.name }} {{ tag.stories.count }}</span></div></li>
                                {% endfor %}
                            </ul></dd>
                        <dt>created</dt>
                        <dd><span>{{ agg.created|naturaltime }}</span></dd>
                    </dl>
                </dd>
            {% endfor %}
        </dl>

    {% endspaceless %}
    <div class="pagination">
        <span class="step-links">
            {% if aggs.has_previous %}
                <a href="{% url 'browse_aggs' %}">&laquo; first</a>
                <a href="{% url 'browse_aggs_page' page_num=aggs.previous_page_number %}">&lt; previous</a>
            {% endif %}

            <span class="current">
                Page {{ aggs.number }}
            </span>

            {% if aggs.has_next %}
                <a href="{% url 'browse_aggs_page' page_num=aggs.next_page_number %}">next &gt;</a>
            {% else %}
                (of {{aggs.number}})
            {% endif %}
        </span>
    </div>
{% endblock %}
