{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}sic{% endblock %}
{% block content %}
    {% if aggregations %}
        {% if not has_subscriptions and request.user.is_authenticated %}<div class="showing-aggregations">You have no subscriptions, viewing default aggregations.</div>
        {% elif not has_subscriptions %}<div class="showing-aggregations">You are not logged in, viewing default aggregations.</div>{% endif %}
        <div class="showing-aggregations">Showing stories from <ul class="inline-comma-sep-list">{% for agg in aggregations|slice:":5" %}<li><a href="{{ agg.get_absolute_url }}">{{ agg.name }}</a></li>{% if forloop.last and aggregations|length > 5 %}<li><details><summary>{{ aggregations|slice:"5:"|length }} others</summary>:<ul class="inline-comma-sep-list">{% for agg in aggregations|slice:"5:" %}<li><a href="{{ agg.get_absolute_url }}">{{ agg.name }}</a></li>{% endfor %}</ul></details></li>{% endif %}{% endfor %}</ul></div>
    {% elif aggregation %}
        <div class="showing-aggregations">Showing stories from <a href="{{ aggregation.get_absolute_url }}">{{ aggregation.name }}</a>. <nav style="display: inline-block"><ul><li><a href="{{ aggregation.get_details_url }}">view details</a></li></ul></nav></div>
    {% else %}
        {% if not has_subscriptions and request.user.is_authenticated %}<div class="showing-aggregations">You have no subscriptions, and there are no default tag aggregations available. Viewing all stories instead. <a href="{% url 'new_aggregation' %}">Create one</a> or <a href="{% url 'public_aggregations' %}">browse public ones from other users</a>.</div>{% elif not request.user.is_authenticated %}<div class="showing-aggregations">There are no default tag aggregations available. Viewing all stories.</div>{% endif %}
    {% endif %}
    <ul class="posts">
        {% for story in stories %}
            {% include "posts/story_list_item.html" with story=story %}
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if stories.has_previous %}
                <a href="{% url 'index' %}">&laquo; first</a>
                <a href="{% url 'index_page' stories.previous_page_number %}">&lt; previous</a>
            {% endif %}

            <span class="current">
                Page {{ stories.number }}
            </span>

            {% if stories.has_next %}
                <a href="{% url 'index_page' stories.next_page_number %}">next &gt;</a>
            {% else %}
                (of {{stories.number}})
            {% endif %}
        </span>
    </div>
{% endblock %}
