{% extends "base.html" %}
{% block title %}sic{% endblock %}
{% block content %}
    <div class="profile">
        <div id="label_for_username">username:</div>
        <div id="username">{{ user.username }}</div>
        <div id="label_for_homepage">homepage:</div>
        <div id="homepage">{{ user.homepage }}</div>
        <div id="label_for_git-repository">git repository:</div>
        <div id="git-repository"></div>
        <div id="label_for_about">about:</div>
        <div id="about"></div>
        <div id="label_for_status">status:</div>
        <div id="status">active</div>
        <div id="label_for_joined">joined:</div>
        <div id="joined">{{ user.created }}</div>
        <div id="label_for_invited_by">invited by:</div>
        <div id="invited_by"><a href="{{ user.invited_by.inviter.get_absolute_url }}">{{ user.invited_by.inviter }}</a></div>
        <div id="label_for_karma">karma:</div>
        <div id="karma">{{ user.karma }}</div>
        <div id="label_for_stories">stories:</div>
        <div id="stories"><a href="{% url 'profile_posts' username=user.username %}">{{ user.stories.count }}</a></div>
        <div id="label_for_comments">comments:</div>
        <div id="comments"><a href="{% url 'profile_posts' username=user.username %}">{{ user.comments.count }}</a></div>
        <div id="avatar">
            <figure id="avatar-thumbnail" style="width: max-content; background-image: url({{user.avatar|default_if_none:''}});">
                {% if user.avatar %}<img src="{{ user.avatar }}" title="{{ user.avatar_title|default_if_none:''}}">{% else %}<div>None.</div>{% endif %}
                <figcaption>{{ user.avatar_title|default_if_none:"<em>No title.</em>" }}</figcaption>
            </figure></div>
    </div>
{% endblock %}
