{% extends "base.html" %}
{% load utils %}
{% block title %}sic{% endblock %}
{% block content %}
    <div class="profile">
        <div id="avatar">
            <figure id="avatar-thumbnail" style="width: max-content; background-image: url({{user.avatar|default_if_none:''}});">
                {% if user.avatar %}<img src="{{ user.avatar }}" title="{{ user.avatar_title|default_if_none:''}}">{% else %}<div>None.</div>{% endif %}
                <figcaption>{{ user.avatar_title|default_if_none:"<em>No title.</em>" }}</figcaption>
            </figure>
        </div>
        <table>
            <tbody>
                <tr>
                    <th>username:</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>homepage:</th>
                    <td>{% if user.homepage %}<a href="{{ user.homepage }}" rel="nofollow external">{{ user.homepage }}</a>{% endif %}</td>
                </tr>
                <tr>
                    <th>git repository:</th>
                    <td>{% if user.git_repository %}<a href="{{ user.git_repository }}" rel="nofollow external">{{ user.git_repository }}</a>{% endif %}</td>
                </tr>
                <tr>
                    <th>about:</th>
                    <td>{{ user.about }}</td>
                </tr>
                <tr>
                    <th>status:</th>
                    <td>{% if not user.is_active %}in{% endif %}active</td>
                </tr>
                <tr>
                    <th>joined:</th>
                    <td>{{ user.created }}</td>
                </tr>
                <tr>
                    <th>invited by:</th>
                    <td>{% if user.invited_by %}<a href="{{ user.invited_by.inviter.get_absolute_url }}">{{ user.invited_by.inviter }}</a>{% else %}None.{% endif %}</td>
                </tr>
                <tr>
                    <th>karma:</th>
                    <td>{{ user.karma }}</td>
                </tr>
                <tr>
                    <th>stories:</th>
                    <td><a href="{% url 'profile_posts' username=user.username %}">{{ user.stories.count }}</a></td>
                </tr>
                <tr>
                    <th>comments:</th>
                    <td><a href="{% url 'profile_posts' username=user.username %}">{{ user.comments.count }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2>Aggregations</h2>
    {% spaceless %}
        <ul>
            {% for c in user.taggregation_subscriptions.all %}
                {% user_can_view_taggregation c request as can_view %}
                {% if can_view %}
                    <li><a href="{{c.get_absolute_url }}">{{ c.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock %}
