{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}sic{% endblock %}
{% block content %}
    <ul class="posts">
        {% for post in posts %}
            {% if post.is_story %}
                {% include "story_list_item.html" with story=post %}
            {% else %}
                {% include "comment.html" with comment=post reply_form=reply_form shallow=True %}
            {% endif %}
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="{% url 'profile_posts' username=user.username %}">&laquo; first</a>
                <a href="{% url 'profile_posts_page' username=user.username page_num=posts.previous_page_number %}">&lt; previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }}
            </span>

            {% if posts.has_next %}
                <a href="{% url 'profile_posts_page' username=user.username page_num=posts.next_page_number %}">next &gt;</a>
            {% else %}
                (of {{posts.number}})
            {% endif %}
        </span>
    </div>
{% endblock %}
