{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}statement of purpose - about sic{% endblock %}
{% block content %}
    <article>
        <h1></a>Statement of purpose</h1>
    <p><code>sic</code> is a community about everything that piques your curiosity and interest. To quote others before us: "anything that gratifies one's intellectual curiosity".</p>
    <p>Anything that is covered in mainstream media is almost certainly off-topic, since there are plenty of other spaces to talk about that content.</p>
    <h2><code>sic</code> is inclusive and non-violent</h2>
    <p>We are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, and religion (or lack thereof). Insults, derogatory remarks and aggressiveness is unacceptable behaviour. For more details see our <a href="#">Code of Conduct</a>.</p>
    <h2><code>sic</code> seeks practical minimalism</h2>
    <p>The web site should be minimalistic, but only if it does not get in the way of the user's experience. The website should not require Javascript to work, and should support modern web standards. Augmenting javascript functionality should only be implemented if the result is necessary and/or interesting, and should have a static fallback for <code>noscript</code> users.</p>
    <h2><code>sic</code> is against corporate interests</h2>
    <p>We don't blindly reject content about corporations, but we disapprove of pro-corporate propaganda and discussions.</p>
    <h2><code>sic</code> supports mutual aid and communities</h2>
    <p>As a community, our main interest is our welfare. We should strive to give aid, compassion and understanding to each other.</p>
    <h3>Libre and commons</h3>
    <p>Showing and sharing your work and projects licensed with <a href="https://creativecommons.org/share-your-work/" rel="external nofollow">Creative Commons</a> or <a href="https://creativecommons.org/about/program-areas/software/" rel="external nofollow">free software licenses</a> is encouraged. <code>sic</code> itself is <a href="https://github.com/epilys/sic/">free software that you can inspect, improve and host by yourself</a>.</p>
    </article>
{% endblock %}
