{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}{{story.title}} - sic {% endblock %}
{% block content %}
    {% get_comment_preview request None as preview  %}
    <article>
        <header>
            <h1 class="story-title"><a href="{{story.get_listing_url}}">{{ story.title }}</a></h1>
            {% if story.publish_date %}<div>Published: <time datetime="{{ story.publish_date | date:"Y-m-d" }}" title="{{ story.publish_date }}">{{ story.publish_date|naturalday }}</time></div>{% endif %}
            {% include "story_tags.html" with tags=story.tags.all %}
            <div class="links">{% if story.user.avatar and show_avatars %}<img class="avatar-small" src="{{story.user.avatar}}" alt="user avatar">{% endif %}{% if story.user_is_author %}authored by{% else %}via{% endif %} <a href="{{ story.user.get_absolute_url }}">{{ story.user }}</a> <time datetime="{{ story.created | date:"Y-m-d H:i:s" }}" title="{{ story.created }}">{{ story.created|naturaltime }}</time> {% if story.user == request.user %}| <a href="{% url 'edit_story' story_pk=story.pk slug=story.slugify %}">edit</a> {% endif%}| flag | hide | save | {% if story.url %}<a rel="nofollow external" href="http://archive.is/timegate/{{ story.url }}">archived copy</a> |{% endif %} <a href="{{story.get_absolute_url}}">{{ story.comments.count }} comments</a></div>
        </header>
        <a href="{{story.url}}">{{ story.url }}</a>
        {% if story.description %}
            <p>{{ story.description }}</p>
        {% endif %}
    </article>
    {% if request.user.is_authenticated %}
        <form method="post" class="submit-comment-form">
            {% if preview  %}
                <span>Preview:</span>
                <span class="comment preview">{{ preview }}</span>
            {% endif %}
            {% csrf_token %}
            <table>
                {{ comment_form}}
            </table>
            <div class="button-flex-box">
                <input type="submit" name="preview" value="Preview">
                <input type="submit" value="Submit">
                <details class="formatting-help">
                    <summary>Formatting help</summary>
                    <span>{% include "markdown_help.html" %}</span>
                </details>
            </div>
        </form>
    {% else %}
        <p>Sign in to post comments.</p>
    {% endif %}
    <ul class="posts">
        {% for comment in comments.all %}
            {% if not comment.parent %}
                {% include "comment.html" with comment=comment reply_form=reply_form %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
