{% extends "base.html" %}
{% load humanize %}
{% block title %}{{story.title}} - sic {% endblock %}
{% block content %}
    <article>
        <header>
            <h1 class="story-title"><a href="{{story.get_listing_url}}">{{ story.title }}</a></h1>
            <div class="links">{% if story.user.avatar %}<img class="avatar-small" src="{{story.user.avatar}}" height="1ex">{% endif %}{% if story.user_is_author %}authored by{% else %}via{% endif %} <a href="{{ story.user.get_absolute_url }}">{{ story.user }}</a> <time datetime="{{ story.created | date:"Y-m-d H:i:s" }}" title="{{ story.created }}">{{ story.created|naturaltime }}</time> | flag | hide | save | archived copy | <a href="{{story.get_absolute_url}}">{{ story.comments.count }} comments</a></div>
        </header>
        <a href="{{story.url}}">{{ story.url }}</a>
        {% if story.description %}
            <p>{{ story.description }}</p>
        {% endif %}
    </article>
    {% if request.user.is_authenticated %}
        <form action="" method="post" class="submit-comment-form">
            {% csrf_token %}
            {{ comment_form}}
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <p>Sign in to post comments.</p>
    {% endif %}
    <ul class="comments">
        {% for comment in story.comments.all %}
            {% if not comment.parent %}
                {% include "comment.html" with comment=comment reply_form=reply_form %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
