{% extends "base.html" %}
{% load humanize %}
{% load utils %}
{% block title %}sic{% endblock %}
{% block content %}
    {% spaceless %}
        <h1>{{ taggregation.name }}{% if user_can_modify %} <small><a href="{% url_with_next 'edit_aggregation' taggregation.pk taggregation.slugify request %}">edit&hellip;</a></small>{% endif %}</h1>
        <form action="{% url 'taggregation_change_subscription' taggregation.pk %}" method="get">
            <input type="hidden" name="next" value="{{ request.get_full_path|urlencode}}" />
            <input type="submit" value="{% if subscribed %}un{% endif %}subscribe">
        </form>
        <table>
            <tr>
                <th>Created by</th>
                <td>
                    <a href="{{ taggregation.creator.get_absolute_url }}">{{ taggregation.creator }}</a>
                </td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>
                    {{ taggregation.created }}
                </td>
            </tr>
            <tr>
                <th>Last modified</th>
                <td>
                    {{ taggregation.last_modified }}
                </td>
            </tr>
            <tr>
                <th>Moderated by</th><td>{{ taggregation.moderators.all|join:", " }}</td>
            </tr>
            <tr>
                <th>Is default</th><td>{{ taggregation.default|yesno }}</td>
            </tr>
            <tr>
                <th>Is private</th><td>{{ taggregation.private|yesno }}</td>
            </tr>
            <tr>
                <th>Is discoverable</th><td>{% if not taggregation.private %}{{ taggregation.discoverable|yesno }}{% else %}no{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                {% if taggregation.description %}
                    <td>{{ taggregation.description }}</td>
                {% else %}
                    <td><i>No description.</i></td>
                {% endif %}
            </tr>
        </table>
        <hr />
        <div>
            <h2>tags</h2>
            <ul class="tags">
                {% for tag in taggregation.tags.all %}
                    <li style="{% if show_colors %}{{ tag.color_vars_css }}{% endif %}"><span class="tag-name">{{ tag.name }} {{ tag.stories.count }}</span></li>
                {% endfor %}
            </ul>
        </div>
        <hr />
        <div>
            <h2>latest stories</h2>
            <p>Showing at most 10 stories. <a href="#">See all&hellip;</a></p>
        </div>
        <ul class="posts">
            {% for story in taggregation.get_stories|slice:":10" %}
                {% include "story_list_item.html" with story=story %}
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock %}
